# Created by .gitignore support plugin (hsz.mobi)
.idea/
deb_dist/
dist/
build/
debian/quantiphyse
.eggs/
quantiphyse/**/*.cpp
quantiphyse/**/*.c
quantiphyse/**/*.pyd
quantiphyse/_version.py
quantiphyse/packages/plugins/*/*
*.sh
*.so
*~
*.pyc
quantiphyse.egg-info
debian/debhelper-build-stamp
test/system_tests/test_data
out
packaging/deb
packaging/msi
packaging/*.log
packaging/*.err
packaging/*.out
packaging/licence.rtf
packaging/images/qp.iconset
.DS_Store
.vscode
test/data_autogen
test/examples_output
qp.icns
.pytest_cache
doc/html
qp_out
