# Created by .gitignore support plugin (hsz.mobi)
.idea/
deb_dist/
dist/
build/
debian/pkview
.eggs/
/pkview/analysis/pk_model.cpp
*.sh
*.so
*~
PKView.egg-info
debian/debhelper-build-stamp
pkview/analysis/t1_model.cpp
*.pyc
pkview/analysis/perfusionslic/additional/*.pyd
pkview/analysis/perfusionslic/additional/*.c
pkview/analysis/perfusionslic/additional/*.cpp
pkview/analysis/perfusionslic/*.c
pkview/analysis/perfusionslic/*.pyd
pkview/analysis/*.pyd

