# Created by .gitignore support plugin (hsz.mobi)
.idea/
deb_dist/
dist/
build/
debian/quantiphyse
.eggs/
quantiphyse/**/*.cpp
quantiphyse/**/*.c
quantiphyse/**/*.pyd
quantiphyse/_version.py
*.sh
*.so
*~
*.pyc
quantiphyse.egg-info
debian/debhelper-build-stamp
test/system_tests/test_data
out
packaging/deb
packaging/msi
packaging/*.log
packaging/*.err
packaging/licence.rtf
.DS_Store
.vscode
