matplotlib
nibabel
numpy
Pillow
git+git://github.com/pyqtgraph/pyqtgraph@ad7453c7818eddb3b18354c65370f416cb668b29#egg=pyqtgraph
PySide2
PyYAML
requests
scipy
scikit-learn
scikit-image
setuptools
six
pandas
