[Desktop Entry]
Version=0.15.2
Name=PKView
GenericName=PK modelling
Comment=Visualisation of DCE-MRI
Type=Application
Categories=Education;Science;ImageProcessing;
Exec=pkviewer2
Terminal=false
StartupNotify=true
Icon=pkviewer2