[Desktop Entry]
Version=0.36
Name=Quantiphyse
GenericName=PK modelling
Comment=Visualisation of DCE-MRI
Type=Application
Categories=Education;Science;ImageProcessing;
Exec=quantiphyse
Terminal=false
StartupNotify=true
Icon=quantiphyse